$cor-principal: blueviolet;
$cor-secundaria: aquamarine;

@mixin reset(){
    margin: 0;
    padding: 0;
}

@mixin cor-e-texto($cor-fundo, $cor-texto){
    width: 50%;
        background-color: $cor-fundo;
        .texto{
            font-size: 150px;
            color: $cor-texto;
            text-align: center;
            margin-top: 200px;
        }
}

body{
    @include reset()
}
.container{
    display: flex;
    height: 100vh;
    .esquerdo{
        @include cor-e-texto($cor-principal, $cor-secundaria);
    }
    .direito{
        @include cor-e-texto($cor-secundaria, $cor-principal);
    }
}